#h1head {
  text-align: center;
  background-color: rgb(177, 167, 167);
  padding: 20px;
  font-size: 32px;
}

#h2head {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.inputLogin {
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 20px;
  margin: 0 auto 15px auto;
  width: 700px;
  height: 40px;
  border: 3px solid #b7a2a2;
  border-radius: 30px;
}

.textLogin {
  text-align: center;
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

body {
  background-image: url(../img/rekaclaly.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#submit {
  display: block;
  margin: auto;
  font-size: 15px;
  color: rgb(14, 14, 18);
  padding: 25px;
  border: 3px solid #b7a2a2;
  border-radius: 30px;
  cursor: pointer;
}

#newUser {
  text-align: right;
  font-size: 30px;
  display: block;
  color: #0c0505c9;
  text-decoration: none;
  margin-top: 10px;
}
#newUser:hover {
  text-decoration: underline;
  cursor: pointer;
}
